{{#partial "header"}}

    <h1>{{currentAdventure.title}}</h1>

{{/partial}}


{{#partial "content"}}


<div class="row">
    <div class="col-md-12">
        <p>{{currentAdventure.category}}</p>
        <p>{{currentAdventure.description}}</p>
        <p>{{currentAdventure.duration}}</p>
        <p>{{currentAdventure.peak}}</p>
        <a href="/destinations/{{currentAdventure.destinationPoint}}/adventures/{{currentAdventure.adventureId}}/edit">Edit</a>
    </div>
</div>

{{/partial}}

{{> layout.hbs}}