{{#partial "header"}}

    <h1>{{currentAdventure.title}}</h1>

{{/partial}}


{{#partial "content"}}





    <p>{{currentAdventure.category}}</p>
    <p>{{currentAdventure.description}}</p>
    <p>{{currentAdventure.duration}}</p>
    <p>{{currentAdventure.peak}}</p>



{{/partial}}

{{> layout.hbs}}